nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 15px;
}

footer, nav, ul {list-style: none; text-align: center;}

h1 {text-align: center;}
p {text-align: justify;}

body {background-color: rgb(194, 164, 221);}

header {background-color: rgb(163, 92, 230)}
h1 {color: #ffffff;}

table {margin: auto;border-collapse: collapse;width: 40%;background-color: white;}
table, th, td { border: 2px solid #8a2be2;padding: 10px;text-align: center;}

a:hover {color:aqua;background-color: transparent;text-decoration: underline;}

h2 {text-align: center;}





  
  
 
  
  
  
  