body {
background-color: black;
background-image: url("https://thumbs.dreamstime.com/b/conjunto-de-mazmorras-o-castillo-puerta-cerrada-para-la-ilustraci%C3%B3n-del-vector-juego-caricatura-entrada-aislada-piedra-y-madera-342871506.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
margin: 0;
text-align: center;
}

.ganaste{
color: black;
background-image: url("https://files.idyllic.app/files/static/3466561?width=640&optimizer=image");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 73%;   
}

.gameover{
color: black;
background-image: url("https://i.scdn.co/image/ab67616d00001e024101eb394f1596d84f89cc4b");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 73%;   
}

.boton-reintentar {
position: absolute;
bottom: 430px;
left: 50%;
transform: translateX(-50%);
background-color: red;
color: white;
font-family: "Oswald", sans-serif;
font-size: 20px;
padding: 12px 28px;
border: none;
border-radius: 12px;
cursor: pointer;
text-decoration: none;
transition: all 0.3s ease;
box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}

.boton-reintentar:hover {
background-color: #FFB6C1;
color: red;
transform: translateX(-50%) scale(1.1);
}

.acertijo{
background-color: blanchedalmond;
}

.puertas {
position: relative;
width: 100%;
height: 80vh;
}

.puerta {
position: absolute;
width: 200px;
height: auto;
cursor: pointer;
transition: transform 0.3s;
}

.puerta:hover {
transform: scale(1.05);
}

.puerta1 {
width: 165px;
top: 24%;
left: 11%;
}

.puerta2 {
width: 410px;
top: 16%;
left: 37%;
}

.puerta3 {
width: 166px;
top: 24%;
left: 78%;
}

.img1 {
width: 110px;
top: 52%;
left: 13%;
}

.img2 {
width: 410px;
top: 45%;
left: 37%;
}

.img3 {
width: 166px;
top: 54%;
left: 78%;
}

.img4 {
width: 166px;
top: 54%;
left: 11%;
}

.img5 {
width: 166px;
top: 45%;
left: 45%;
}

.img6 {
width: 166px;
top: 54%;
left: 78%;
}

.img7 {
width: 110px;
top: 52%;
left: 13%;
}

.img8 {
width: 150px;
top: 40%;
left: 45%;
}
.img9 {
width: 110px;
top: 52%;
left: 80%;
}

.img10 {
width: 110px;
top: 52%;
left: 13%;
}

.img11 {
width: 150px;
top: 40%;
left: 45%;
}
.img12 {
width: 110px;
top: 52%;
left: 80%;
}   

.oc {
    color: black;
  font-weight: bold;
  transition: all 0.3s ease;
}

.oc:hover {
  color: green;
  font-size: 1.2em; 
  text-shadow: 0 0 10px #ffb6c1;
}