body {background-color: rgb(167, 255, 78);}
h1 {background-color: darkgreen; color:rgb(255, 255, 255);text-align: center; padding: 10px;}
 nav ul {display: flex; justify-content: center;list-style: none;}
            ul li {margin: 0 15px;}
            