body {background-color: rgb(201, 164, 110);}
h1, h2 {color: white;}
a:link {color: white;background-color: transparent; text-decoration: underline;}
ul {display: flex; justify-content: center;}
            nav ul li {margin: 0 15px; list-style: none;}
            header {background-color: white; margin: 0px; padding: 2px;}
            .contenedor {width: 600px; margin: auto;}
            
          table {margin: auto;}
          table, th, td { border: 2px solid #a0521f;padding: 8px;text-align: center; width: 40%; height: 30%;background-color: white;}
          section form {width: 30%; margin: auto; background-color:rgb(179, 132, 79); padding: 20px; border-radius: 10px; text-align: center;}
          label {color: white;}
          p {font-size: 21px; text-align: center; font-family:serif;}
         h1, h2 {font-family: fantasy; font-size: 50px; text-align: center;}
         label {font-family:'serif';}

          .contenedor p {width: 80%; margin: auto; background-color:rgb(179, 132, 79); padding: 30px; border-radius: 10px; text-align:left;}

         
          
          ul {display: flex; justify-content: center;}
            ul li  {margin: 0 15px; list-style: none;}
            
          